Promises/Promises/obj/
Promises/Promises/bin/
Output/
Unity-Project/Library/
Unity-Project/ProjectSettings/
Promises/packages/
Promises/Promises.Tests/bin/
Promises/Promises.Tests/obj/
UnityProjects/Promises/Library/
UnityProjects/Promises/ProjectSettings/
Promises/.vs/
user.properties.json
.build/
Promises/.idea/
Promises/.axoCover/
Promises/Promises/._Promises.csproj
Promises/Promises/._uget.config.json
._.gitignore
._.travis.yml
